[submodule "exprtk"]
	path = modules/exprtk
	url = https://github.com/ArashPartow/exprtk
	branch = master
[submodule "websocketpp"]
	path = modules/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
	branch = 0.8.2s