[submodule "modules/exprtk"]
	path = modules/exprtk
	url = https://github.com/ArashPartow/exprtk
[submodule "modules/websocketpp"]
	path = modules/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git